$color-primary-dark: #1F3F68;
$color-primary-normal: #316099;
$color-primary-light: #5A98D0;

$color-grey: #e6e6e6;
$dashboard-background: #F8F8F8;

$background-gradient: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
$background-gradient-form: linear-gradient(90deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);


$gradient-precent: 0